*{
    margin: 0;
    padding: 0;
}
body{
   
   display: flex;
   justify-content: top;
   align-items: top;
  
  border: 10px solid transparent;
  border-image: linear-gradient(to bottom right, #670a92 0%, #0b4786 25%, #49680b 50%, #715505 75%, #6c073d 100%);
  border-image-slice: 1; 
  margin: 1px auto;
border-radius: 20%;
}
.content{
   
    width: 100%;
    height: 100%;
    position: fixed;
}
.video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.video video{
    height: 100%;
    width: 100%;
}